body {
  background-color: #1e1e1e;
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, #2f2f2f 1px, transparent 1px),
    linear-gradient(to bottom, #2f2f2f 1px, transparent 1px);
  font-family: 'Roboto Slab', serif;
  font-family: 'Tektur', cursive;
}

a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  line-height: 4px;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 8px;
}

.head a {
  color: rgb(226, 226, 226);
}

.head h2 {
  color: #64ffa0;
}

.container {
  display: flex;
  height: 90vh;
}

.center {
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left:50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#walkme {

  font-family: 'Roboto Slab', serif;
  font-family: 'Tektur', cursive;
  border: 4px solid #764aff;
  color: #764aff;
  background-color: transparent;
  padding: 10px;
  animation: blinker .8s step-start infinite;
  position: absolute;
  top: 60%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left:50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.menu {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
}

.menu a {
  color: #764aff;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 10px;
  font-size: 1.2em;
}

.menu a:hover {
  color: #64ffa0;
}

.menu a:active {
  color: #64ffa0;
}

footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  text-align: right;
  bottom: 0;
  width: 100%;
  color: rgb(226, 226, 226);
  font-size: 0.7em;
  margin-top: auto;
}

footer h1 {
  position: relative;
  margin: 0;
  bottom: 0;
}

.tabs {
  position:absolute;
  display: flex;
  justify-content:right;
  right: 7px;
  color:#64ffa0;
  padding: 7px;
  border: 1px solid #64ffa0;
  margin-top: 7px;
  text-align: right;
  max-width: 300px;
}

.tabs a {
  color:#64ffa0;
}

.tabs a:hover {
  background-color:#64ffa0;
  color:#1e1e1e;
}

.tabs p {
  text-transform: lowercase;
}

.tabs span {
  color:#764aff;
}

@media only screen and (max-width: 768px) {
  .menu a {
    font-size: 0.9em;
    margin-left: 0;
  }
}
